<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.AlarmMapper">
	<insert id="insert" parameterType="project.app.almond.vo.AlarmVo">
		insert into alarm values(seq_alarm_alarmnum.nextval,#{usernum},#{title},#{content},sysdate,to_date(#{showdate},'yyyymmddhh24miss'),#{type},#{num},0)
	</insert>
	<select id="getWebList" parameterType="int" resultType="project.app.almond.vo.AlarmVo">
		select * from alarm where usernum=#{usernum} and sysdate>=showdate and type in (11,12) order by regdate desc, alarmnum desc
	</select>
	<select id="getCommList" parameterType="int" resultType="project.app.almond.vo.AlarmVo">
		select * from alarm where usernum=#{usernum} and type between -2 and 3 order by regdate desc, alarmnum desc
	</select>
	<select id="getEventList" parameterType="int" resultType="project.app.almond.vo.AlarmVo">
		select * from alarm where usernum=#{usernum} and type in(21,22) order by regdate desc, alarmnum desc
	</select>
	<select id="getCnt" parameterType="int" resultType="int">
		select nvl(count(*),0) from alarm where usernum=#{usernum} and status=0 and sysdate>=showdate
	</select>
	<update id="update" parameterType="int">
		update alarm set status=1 where alarmnum=#{alarmnum}
	</update>
</mapper>
