<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.CashMapper">
	<insert id="insert" parameterType="project.app.almond.vo.CashVo">
		insert into cash values(seq_cash_cashnum.nextval,#{usernum},#{price},sysdate,#{method})
	</insert>
	<select id="totCharge" parameterType="int" resultType="int">
	    select nvl(sum(price),0) from cash where usernum=#{usernum}
	</select>
	<select id="list" parameterType="int" resultType="project.app.almond.vo.CashVo">
	    select * from cash where usernum=#{usernum} order by regdate desc
	</select>
	<update id="updateCharge" parameterType="hashmap">
	    update users set cash=cash+#{price} where usernum=#{usernum}
	</update>
	<select id="totCash" parameterType="int" resultType="int">
	    select cash from users where usernum=#{usernum}
	</select>
	<select id="listUse" parameterType="int" resultType="project.app.almond.vo.TicketBuyVo">
	    select * from ticketbuy where usernum=#{usernum} order by regdate desc
	</select>
	<select id="totUse" parameterType="int" resultType="int">
	    select nvl(sum(price),0) from ticketbuy where usernum=#{usernum}
	</select>
</mapper>





