<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.CommentsMapper">
	<insert id="insert" parameterType="project.app.almond.vo.CommentsVo">
		insert into comments values(seq_comments_commnum.nextval,#{epinum},#{usernum},#{content},#{ref},#{lev},#{step},sysdate)
	</insert>
	<select id="getList" parameterType="int" resultType="project.app.almond.vo.CommentsVo">
		select * from comments where epinum=#{epinum}
	</select>
	<select id="getRef" parameterType="int" resultType="int">
		select nvl(max(ref),0) ref from comments where epinum=#{epinum}
	</select>
	<select id="getStep" parameterType="hashmap" resultType="int">
		select nvl(max(step),0) step from comments where epinum=#{epinum} and ref=#{ref}
	</select>
</mapper>





