<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.CommLikesMapper">
	<insert id="insert" parameterType="project.app.almond.vo.CommLikesVo">
		insert into commlikes values(seq_commlikes_likenum.nextval,#{usernum},#{commnum},#{type})
	</insert>
	<update id="update" parameterType="project.app.almond.vo.CommLikesVo">
		update commlikes set type=#{type} where usernum=#{usernum} and commnum=#{commnum}
	</update>
	<select id="isExist" parameterType="project.app.almond.vo.CommLikesVo" resultType="project.app.almond.vo.CommLikesVo">
		select * from commlikes where usernum=#{usernum} and commnum=#{commnum}
	</select>
	<select id="getCnt" parameterType="project.app.almond.vo.CommLikesVo" resultType="int">
		select count(*) cnt from commlikes where commnum=#{commnum} and type=#{type}
	</select>
	<select id="getInfo" parameterType="int" resultType="hashmap">
		select c.commnum, cl.usernum u1, c.usernum u2, cl.type, w.title, ep.epnum, ep.contnum
		from commlikes cl, comments c, episode ep, webcontents w
		where cl.commnum=#{commnum} and cl.commnum=c.commnum and c.epinum=ep.epinum and ep.contnum=w.contnum
	</select>
	

</mapper>





