<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.CommentsMapper">
	<insert id="insert" parameterType="project.app.almond.vo.CommentsVo">
		insert into comments values(seq_comments_commnum.nextval,#{epinum},#{usernum},#{content},#{ref},#{lev},#{step},sysdate)
	</insert>
	<select id="getRef" parameterType="int" resultType="int">
		select nvl(max(ref),0) ref from comments where epinum=#{epinum}
	</select>
	<select id="getStep" parameterType="hashmap" resultType="int">
		select nvl(max(step),0) step from comments where epinum=#{epinum} and ref=#{ref}
	</select>
	<select id="getList" parameterType="hashmap" resultType="project.app.almond.vo.CommentsInfoVo">
		select c.*,u.nickname,u.profileimg,nvl(cntlike,0) cntlike,nvl(cnthate,0) cnthate,nvl(type,0) mytype
		from comments c, users u, 
		(select count(*) cntlike,commnum from commlikes where type=1 group by commnum) cl,
		(select count(*) cnthate,commnum from commlikes where type=2 group by commnum) ch,
		(select type,commnum from commlikes where usernum=#{usernum}) mt
		where epinum=#{epinum} and c.usernum=u.usernum and c.commnum=mt.commnum(+) and c.commnum=cl.commnum(+) and c.commnum=ch.commnum(+)
		order by c.ref desc, c.step asc
	</select>
</mapper>





