<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.EpisodeMapper">
	<insert id="insert" parameterType="project.app.almond.vo.EpisodeVo">
		insert into episode values(seq_episode_epinum.nextval,#{contnum},sysdate,0,#{thumbnail},#{subtitle},#{img},#{content},#{epnum})
	</insert>
	<select id="getEpnum" parameterType="int" resultType="int">
		select nvl(max(epnum),0) from episode where contnum=#{contnum}
	</select>
	<select id="getList" parameterType="hashmap" resultType="project.app.almond.vo.EpisodeReadingVo">
		select e.*,r.readingdate, nvl((sysdate-r.readingdate)*24*60,-1) rt, nvl(r.type,-1) type
		from (select * from episode where contnum=#{contnum}) e,
		     (select epinum,min(type) type,max(readingdate) readingdate from reading where usernum=#{usernum} and type in(1,2,5,6) group by epinum) r
		where e.epinum=r.epinum(+)
		order by epnum ${align}
	</select>
	
	
	
	<select id="getInfo" parameterType="int" resultType="project.app.almond.vo.EpisodeVo">
		select * from episode where epinum=#{epinum}
	</select>
	<update id="addHit" parameterType="int">
		update episode set hit=hit+1 where epinum=#{epinum}
	</update>
	<select id="getLastRead" parameterType="hashmap" resultType="project.app.almond.vo.EpisodeVo">
		select ep.* from reading r, episode ep
		where r.epinum=ep.epinum
			and readingdate=(select max(readingdate) from reading r, episode ep where r.epinum=ep.epinum and r.usernum=#{usernum} and ep.contnum=#{contnum})
			and rownum=1
	</select>
	<select id="getFirstEpi" parameterType="int" resultType="project.app.almond.vo.EpisodeVo">
		select * from episode ep where ep.epnum=(select min(epnum) from episode ep where ep.contnum=#{contnum}) and ep.contnum=#{contnum}
	</select>
	<select id="getTotalEpisodeCnt" parameterType="int" resultType="int">
		select nvl(count(*),0) cnt from episode ep where ep.contnum=#{contnum}
	</select>
	<select id="userReadCnt" parameterType="hashmap" resultType="int">
		select nvl(count(*),0) cnt from
			(select ep.epinum cnt from reading r, episode ep, users u
			where ep.epinum=r.epinum and ep.contnum=#{contnum} and r.usernum=#{usernum}
			group by ep.epinum)
	</select>
</mapper>





