<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.EventMapper">
	<!-- 이벤트등록 -->
	<!-- 이벤트2 -->	
	<select id="event2" parameterType="int" resultType="project.app.almond.vo.Event2Vo"><!-- 3명추첨 -->
		select usernum from			
			(		
				select r.usernum,ep.contnum,e.eventnum,e.human
				from episode ep,reading r,event e
				where ep.epinum=r.epinum
		            and ep.contnum=e.contnum and e.eventnum=#{eventnum}
		            and r.readingdate between e.startdate and e.enddate
		  	order by dbms_random.value 
		  )
		<![CDATA[ where rownum<=human ]]>
		order by dbms_random.value
	</select>

	<!-- 이벤트3 댓글 -->
	<select id="event3comments" resultType="project.app.almond.vo.WinnerVo" parameterType="int"><!-- 이벤트3의 1번이벤트 -->
		select aa.usernum, aa.eventnum from
		(
		<![CDATA[
	    select c.usernum, c.regdate, e.eventnum
	    from comments c,episode ep,event e,reading r
	    where c.epinum=ep.epinum and e.contnum=ep.contnum and r.epinum=ep.epinum
	    and e.eventnum=6 and r.readingdate between  e.startdate and e.enddate
	    and c.content like '%리뷰이벤트%'
	    order by dbms_random.value
		)aa
		where rownum<=3
		]]>
	</select>
	
	<update id="event3cash" parameterType="project.app.almond.vo.WinnerVo">
		update users set cash=cash+10000 where usernum=#{usernum}
	</update>	
	
	
	<!-- 이벤트3 열람 -->
	<select id="event3reading" resultType="project.app.almond.vo.WinnerVo" parameterType="int"><!-- 이벤트3의 2번이벤트 -->
	select aa.usernum,aa.eventnum from
	(
	<![CDATA[
		select r.usernum,count(r.usernum) cnt, e.eventnum
		from reading r, episode ep, event e
		where r.epinum=ep.epinum and e.contnum=ep.contnum 
        and e.eventnum=7 
        and r.readingdate between e.startdate and e.enddate  
        group by r.usernum,cnt,e.eventnum
        order by dbms_random.value
	)aa, users u
	where u.usernum=aa.usernum
	and aa.cnt>=5 and rownum<=3
	]]>
	</select>
	
	<!-- 이벤트4 -->
	<update id="event4cash" parameterType="project.app.almond.vo.UsersVo">
		update users set cash=cash+#{cash} where usernum=#{usernum}
	</update>
	
	
	<!-- 룰렛돌린애들 뽑은 금액 업데이트 -->
	<update id="event5cash" parameterType="project.app.almond.vo.UsersVo">
		update users set cash=cash+#{cash} where usernum=#{usernum}
	</update>
	
	
	
	
	
		
	<insert id="insertSortition" parameterType="project.app.almond.vo.EventVo">
		insert into event(eventnum,regdate,startdate,enddate,img,status,human,cnt)
		values(seq_event_eventnum.nextval,sysdate,#{startdate},#{enddate},#{img},#{status},#{human},#{cnt})
	</insert>
	<insert id="insertRoulette" parameterType="project.app.almond.vo.EventVo">
		insert into event(eventnum,regdate,startdate,enddate,status)
		values(seq_event_eventnum.nextval,sysdate,#{startdate},#{enddate},#{status})
	</insert>
	<insert id="insertKeyword" parameterType="project.app.almond.vo.EventVo">
		insert into event(eventnum,title,content,regdate,startdate,enddate,status,keyword,price)
		values(seq_event_eventnum.nextval,#{title},#{content},sysdate,#{startdate},#{enddate},#{status},#{keyword},#{price})
	</insert>
	
	<select id="getList" resultType="project.app.almond.vo.EventVo">
		select * from event order by enddate desc,startdate desc
	</select>
	
	<select id="getInfo" parameterType="int" resultType="project.app.almond.vo.EventVo">
		select * from event where eventnum=#{eventnum}
	</select>
	
	
</mapper>

