<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.GiftMapper">
	<insert id="giftinsert" parameterType="project.app.almond.vo.GiftVo" >
		insert into gift values(SEQ_GIFT_GIFTNUM.nextval,#{contnum},#{cnt},#{type},#{startdate},#{enddate},sysdate)
	</insert>
	<select id="list" parameterType="int" resultType="project.app.almond.vo.WebcontentsVo">
		select * from webcontents where cultype=#{cultype}
	</select>
</mapper>





