<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.GiftMapper">
	<insert id="giftinsert" parameterType="project.app.almond.vo.GiftVo" >
		insert into gift values(SEQ_GIFT_GIFTNUM.nextval,#{contnum},#{cnt},#{type},#{startdate},#{enddate},sysdate)
	</insert>
	<insert id="insertbox" parameterType="project.app.almond.vo.GiftHistoryVo" >
		insert into gifthistory values(SEQ_GIFTHISTORY_GIFTHNUM.nextval,#{gifthnum},#{giftnum},#{usernum},sysdate)
	</insert>
	
	<select id="getList" parameterType="int" resultType="hashmap">
		select g.giftnum, g.contnum,cnt,type,title, cultype,img,agegrade, gifthnum
		from gift g,webcontents w,(select giftnum,gifthnum from gifthistory gh, users u where u.usernum=gh.usernum and u.usernum=#{usernum}) gh
		where w.contnum=g.contnum and sysdate between startdate and enddate and g.giftnum=gh.giftnum(+)
		order by gifthnum desc, g.startdate desc
	</select>

</mapper>





