<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.InquiryMapper">
	<insert id="insert" parameterType="project.app.almond.vo.InquiryVo">
	    insert into inquiry values(SEQ_inquiry_inqnum.nextval,#{usernum},#{title},#{content},#{status},#{ref},#{lev},#{step})
	</insert>
    <select id="list" parameterType="hashmap" resultType="project.app.almond.vo.InquiryVo">
      select * from
      (
           select aa.*,rownum rnum from
           (
                  select * from inquiry 
                  where usernum=#{usernum} and lev!=1
                  order by inqnum desc
           )aa
      )
      <![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
    </select>
    <select id="listadmin" parameterType="hashmap" resultType="hashmap">
      select * from
      (
           select aa.*,rownum rnum from
           (
                  select i.*,u.email from inquiry i,users u
                  where i.lev!=1
                        and i.usernum=u.usernum
                  order by i.inqnum desc
           )aa
      )
      <![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>    
    </select>	
    
	<select id="detail" resultType="project.app.almond.vo.InquiryVo" parameterType="int">
	    select * from inquiry where inqnum=#{inqnum}
	</select>
	<select id="count" resultType="int" parameterType="int">
        select NVL(count(*),0) cnt from inquiry where usernum=#{usernum}
    </select>

    <!-- 이전글 -->
    <select id="prev" parameterType="int" resultType="project.app.almond.vo.InquiryVo">
      select * from
      (
          select * from inquiry <![CDATA[where inqnum<#{inqnum}]]> order by inqnum desc
      )where rownum=1
    </select>
    <!-- 또는 select * from board where num=(select max(num) from board where num<#{num}); -->
    <!-- 다음글 -->
    <select id="next" parameterType="int" resultType="project.app.almond.vo.InquiryVo">
      select * from
      (
          select * from inquiry <![CDATA[where inqnum>#{inqnum}]]> order by inqnum
      )where rownum=1
    </select>
    <!-- 또는 select * from board where num=(select min(num) from board where num>#{num}); -->
    <insert id="reply" parameterType="project.app.almond.vo.InquiryVo">
       insert into inquiry values(SEQ_inquiry_inqnum.nextval,#{usernum},#{title},#{content},#{status},#{ref},#{lev},#{step})
    </insert>
    <update id="chgStatus" parameterType="hashmap">
       update inquiry set status=1 where ref=#{ref} and usernum=#{usernum}
    </update>
    <select id="getReply" parameterType="int" resultType="project.app.almond.vo.InquiryVo">
       select * from inquiry where ref=#{ref} and usernum=1
    </select>
</mapper>
