<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.MylistMapper">
	<insert id="insert" parameterType="project.app.almond.vo.MylistVo">
		insert into mylist values(seq_mylist_mylistnum.nextval,#{contnum},#{usernum},#{alaram},sysdate)
	</insert>
	<update id="update" parameterType="date">
		update mylist set readingdate=#{date} where contnum=#{contnum} and usernum=#{usernum}
	</update>
	<delete id="delete" parameterType="project.app.almond.vo.MylistVo">
		delete from mylist where contnum=#{contnum} and usernum=#{usernum}
	</delete>
	<select id="isExist" parameterType="project.app.almond.vo.MylistVo" resultType="project.app.almond.vo.MylistVo">
		select * from mylist where contnum=#{contnum} and usernum=#{usernum}
	</select>
</mapper>





