<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.MylistMapper">
	<insert id="insert" parameterType="project.app.almond.vo.MylistVo">
		insert into mylist values(seq_mylist_mylistnum.nextval,#{contnum},#{usernum},1,sysdate)
	</insert>
	<update id="update" parameterType="hashmap">
		update mylist set readingdate=sysdate where contnum=#{contnum} and usernum=#{usernum}
	</update>
	<update id="updateAlarm" parameterType="project.app.almond.vo.MylistVo">
		update mylist set alarm=#{alarm} where contnum=#{contnum} and usernum=#{usernum}
	</update>
	<delete id="delete" parameterType="project.app.almond.vo.MylistVo">
		delete from mylist where contnum=#{contnum} and usernum=#{usernum}
	</delete>
	<select id="isExist" parameterType="hashmap" resultType="project.app.almond.vo.MylistVo">
		select * from mylist where contnum=#{contnum} and usernum=#{usernum}
	</select>
    <select id="list" resultType="project.app.almond.vo.MylistVo" parameterType="int">
       select mylistnum,contnum,usernum,alaram,readingdate from mylist where usernum=#{usernum}
    </select>
    <delete id="delFromList" parameterType="int">
       delete from mylist where mylistnum=#{mylistnum}
    </delete>
</mapper>





