<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.ReadingMapper">
	<insert id="insert" parameterType="project.app.almond.vo.ReadingVo">
		insert into reading values(seq_reading_readingnum.nextval,#{epinum},#{usernum},sysdate,#{type})
	</insert>
	<update id="update" parameterType="project.app.almond.vo.ReadingVo">
		update reading set type=#{type},readingdate=#{readingdate} where usernum=#{usernum} and epinum=#{epinum}
	</update>
	<select id="getRemainingWaitingTime" parameterType="hashmap" resultType="Integer">
		select nvl((w.waiting)*60-rd.rd,0) rw from webcontents w, 
	    (select ep.contnum, (sysdate-max(readingdate))*24*60 rd
	    from reading r,episode ep,users u
	    where ep.contnum=#{contnum} and r.usernum=u.usernum and u.usernum=#{usernum} and r.epinum=ep.epinum and type=6
	    group by ep.contnum) rd
		where w.contnum=rd.contnum
	</select>
</mapper>





