<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.ReadingMapper">
	<insert id="insert" parameterType="project.app.almond.vo.ReadingVo">
		insert into reading values(seq_reading_readingnum.nextval,#{epinum},#{usernum},sysdate,#{type})
	</insert>
	<update id="update" parameterType="project.app.almond.vo.ReadingVo">
		update reading set type=#{type},readingdate=#{readingdate} where usernum=#{usernum} and epinum=#{epinum}
	</update>
</mapper>





