<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.TicketStockMapper">
	<insert id="insert" parameterType="project.app.almond.vo.TicketStockVo">
		insert into ticketstock values(seq_tickstock_tksnum.nextval,#{usernum},#{contnum},#{type},#{cnt})
	</insert>
	<update id="updateAdd" parameterType="project.app.almond.vo.TicketStockVo">
		update ticketstock set cnt=cnt+#{cnt} where usernum=#{usernum} and contnum=#{contnum} and type=#{type}
	</update>
	<select id="getInfo" parameterType="project.app.almond.vo.TicketStockVo" resultType="project.app.almond.vo.TicketStockVo">
		select * from ticketstock where usernum=#{usernum} and contnum=#{contnum} and type=#{type}
	</select>
</mapper>





