<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.TicketUseMapper">
	<select id="history" parameterType="int" resultType="hashmap">
		select t.*,title,e.subtitle,e.epnum from ticketuse t, episode e, webcontents w
		where t.epinum=e.epinum and e.contnum=w.contnum and usernum=#{usernum} order by usedate desc
	</select>
</mapper>





