<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.UsersMapper">
	<update id="updateCashSub" parameterType="project.app.almond.vo.UsersVo">
		update users set cash=cash-#{cash} where usernum=#{usernum}
	</update>
	<insert id="insert" parameterType="project.app.almond.vo.UsersVo">
		insert into users values(seq_users_usernum.nextval,
			#{email},#{pwd},#{phone},#{nickname},null,0,1)
	</insert>
	<select id="login" parameterType="project.app.almond.vo.UsersVo" resultType="project.app.almond.vo.UsersVo">
			select * from users where email=#{email} and pwd=#{pwd}
	</select>
	<select id="emailcheck" parameterType="String" resultType="project.app.almond.vo.UsersVo">
		select * from users where email = #{email}
	</select>
	<update id="updatepwd" parameterType="project.app.almond.vo.UsersVo">
		update users set pwd=#{pwd} where email = #{email}
	</update>
	<select id="getInfo" parameterType="int" resultType="project.app.almond.vo.UsersVo">
		select * from users where usernum=#{usernum}
	</select>
	<update id="chgProfile" parameterType="project.app.almond.vo.UsersVo">
	    update users set nickname=#{nickname},profileimg=#{profileimg} where usernum=#{usernum}
	</update>
	<update id="updatePwd" parameterType="project.app.almond.vo.UsersVo">
	    update users set pwd=#{pwd} where email=#{email}
	</update>
	<select id="existingEmail" resultType="project.app.almond.vo.UsersVo" parameterType="String">
	    select * from users where email=#{email}
	</select>
</mapper>
