<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.UsersMapper">
	<update id="updateCashSub" parameterType="project.app.almond.vo.UsersVo">
		update users set cash=cash-#{cash} where usernum=#{usernum}
	</update> 
</mapper>
