<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.WebcontentsMapper">
	<insert id="insert" parameterType="project.app.almond.vo.WebcontentsVo">
		insert into webcontents values(seq_webcontents_contnum.nextval,#{title},#{cultype},#{genre},#{outline},#{tknum},#{waiting},#{img},#{completiontype},#{agegrade},#{freenum},#{status})
	</insert>
	<select id="getCurrContnum" resultType="int">
		select seq_webcontents_contnum.currval from dual
	</select>
	
	<sql id="selectBook">
		select wc.*,writer,illustrator,publisher from webcontents wc,book where wc.contnum=book.contnum
	</sql>
	<sql id="selectVideo">
		select wc.*,director,actor,runtime,proddate from webcontents wc,video where wc.contnum=video.contnum
	</sql>
	
	<select id="getInfoBook" parameterType="int" resultType="project.app.almond.vo.WebcontentsBookVo">
		 <include refid="selectBook"/> and wc.contnum=#{contnum}
	</select>
	<select id="getInfoVideo" parameterType="int" resultType="project.app.almond.vo.WebcontentsVideoVo">
		 <include refid="selectVideo"/> and wc.contnum=#{contnum}
	</select>
	<select id="getGenreList" parameterType="int" resultType="string">
		select genre from webcontents where cultype=#{cultype} group by genre
	</select>	
	
	<sql id="listCondition">
		and cultype=#{cultype}
		<if test="genre!=null and genre!=''"> and genre=#{genre}</if>
	</sql>
	<select id="getListBook" parameterType="hashmap" resultType="project.app.almond.vo.WebcontentsBookVo">
		 <include refid="selectBook"/> <include refid="listCondition"/>
	</select>
	<select id="getListVideo" parameterType="hashmap" resultType="project.app.almond.vo.WebcontentsVideoVo">
		 <include refid="selectVideo"/> <include refid="listCondition"/>
	</select>
</mapper>





