<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mybatis.mapper.WebcontentsMapper">
	<insert id="insert" parameterType="project.app.almond.vo.WebcontentsVo">
		insert into webcontents values(seq_webcontents_contnum.nextval,#{title},#{cultype},#{genre},#{outline},#{tknum},#{waiting},#{img},#{completiontype},#{agegrade},#{freenum},#{status},0)
	</insert>
	<select id="getCurrContnum" resultType="int">
		select seq_webcontents_contnum.currval from dual
	</select>
	
	<sql id="selectBook">
		select wc.*,writer,illustrator,publisher,dayofweek from webcontents wc,book where wc.contnum=book.contnum
	</sql>
	<sql id="selectVideo">
		select wc.*,director,actor,runtime,proddate from webcontents wc,video where wc.contnum=video.contnum
	</sql>
	
	<select id="getInfo" parameterType="int" resultType="project.app.almond.vo.WebcontentsVo">
		select * from webcontents where contnum=#{contnum}
	</select>
	<select id="getInfoBook" parameterType="int" resultType="project.app.almond.vo.WebcontentsBookVo">
		 <include refid="selectBook"/> and wc.contnum=#{contnum}
	</select>
	<select id="getInfoVideo" parameterType="int" resultType="project.app.almond.vo.WebcontentsVideoVo">
		 <include refid="selectVideo"/> and wc.contnum=#{contnum}
	</select>
	<select id="getGenreList" parameterType="int" resultType="string">
		select genre from webcontents where cultype=#{cultype} group by genre
	</select>	
	
	<sql id="listCondition">
		and cultype=#{cultype}
		<if test="genre!=null and genre!=''"> and genre=#{genre} </if>
	</sql>
	<select id="getListBook" parameterType="hashmap" resultType="project.app.almond.vo.WebcontentsBookVo">
		 <include refid="selectBook"/> <include refid="listCondition"/>
	</select>
	<select id="getListVideo" parameterType="hashmap" resultType="project.app.almond.vo.WebcontentsVideoVo">
		 <include refid="selectVideo"/> <include refid="listCondition"/>
	</select>
	
	<update id="addReadernum" parameterType="int">
		update webcontents set readernum=readernum+1 where contnum=#{contnum}
	</update>
	
	
	
	
	
	
	
	
	<select id="listonday" parameterType="String" resultType="project.app.almond.vo.WebcontentsBookVo">
	   select wc.* from webcontents wc,book where wc.contnum=book.contnum and book.dayofweek=#{dayofweek} and cultype=1
	</select>
	
	<select id="top4" resultType="hashmap" parameterType="int">
	   select * from
	   (
           select aa.*,rownum rnum from
           (   select w.img, e.epinum,e.contnum,e.hit,e.subtitle from episode e,webcontents w
               where e.contnum=w.contnum and w.cultype=#{cultype}
               order by e.hit desc
           )aa
       )<![CDATA[ where rnum>=1 and rnum<=4 ]]>
	</select>
	<select id="jakpum" resultType="project.app.almond.vo.WebcontentsVo" parameterType="int">
	   select * from
	   (
           select aa.*,rownum rnum from
           (   select * from webcontents where cultype=#{cultype} order by readernum desc
           )aa
       )<![CDATA[ where rnum>=1 and rnum<=4 ]]>
	</select>
	
	
	<select id="byReadernum" resultType="project.app.almond.vo.WebcontentsVo" parameterType="int">
	   select * from webcontents where cultype=#{cultype} order by readernum desc
	</select>
	<select id="byHit" resultType="hashmap" parameterType="int">
	   select w.*,sq.tot
       from webcontents w,(select contnum,sum(e.hit) as tot from episode e group by contnum) sq
       where sq.contnum=w.contnum and w.cultype=#{cultype}
       order by tot desc
	</select>
	<select id="byLikes" resultType="hashmap" parameterType="int">
	   select sq4.contnum,count(dd) cnt
	   from(
            select w.*,sq1.cc dd
            from (select e.*,sq2.bb cc
                  from (select c.*,sq3.aa bb
                        from (select l.*,l.type as aa from commlikes l where l.type=1) sq3,comments c
                        where sq3.commnum=c.commnum) sq2,episode e
                 where sq2.epinum=e.epinum) sq1,webcontents w
            where sq1.contnum=w.contnum and w.cultype=#{cultype}
       ) sq4
       group by sq4.contnum
       order by cnt desc
	</select>
	<select id="byScore" resultType="hashmap" parameterType="int">
	   select w.contnum,sum(sq1.ss)/count(sq1.ns) ts
       from (select e.*,s.score ss,s.scorenum ns
             from score s,episode e
             where s.epinum=e.epinum) sq1,webcontents w
       where sq1.contnum=w.contnum and w.cultype=#{cultype}
       group by w.contnum
       order by ts desc
	</select>
	<select id="today" resultType="hashmap">
        select w.*,sq1.uploaddate
        from webcontents w,
             (select contnum,max(uploaddate) uploaddate from episode where to_char(uploaddate,'YY/mm/DD')=to_char(sysdate,'YY/mm/DD') group by contnum) sq1
        where w.contnum=sq1.contnum
	</select>
</mapper>





